.demo-1 {


    .list {
        display:flex;
        flex-direction: row;
        justify-content: center;
        gap:5px;
    }


    .list {
        transform-style: preserve-3d;
        transform: perspective(1000px);

        .item {
            transition: .5s;
            filter: brightness(0);

            &:hover {
                filter: brightness(1);
                transform: translateZ(200px);
            }

            &:hover + * {
                filter: brightness(0.6);
                transform: translateZ(150px) rotateY(40deg);
            }

            &:hover + * + * {
                filter: brightness(0.4);
                transform: translateZ(70px) rotateY(20deg);
            }

            &:hover + * + * + * {
                filter: brightness(0.2);
                transform: translateZ(30px) rotateY(10deg);
            }

            &:has(+ *:hover) {
                filter: brightness(0.6);
                transform: translateZ(150px) rotateY(-40deg);
            }

            &:has(+ * + *:hover) {
                filter: brightness(0.4);
                transform: translateZ(70px) rotateY(-20deg);
            }

            &:has(+ * + * + *:hover) {
                filter: brightness(0.2);
                transform: translateZ(30px) rotateY(-10deg);
            }
        }
    }
}