@import "sass/_layout";
@import "sass/_icons";


section.conseils {


    .presentation {
        h2 {
            font-size: 1.4em;
            text-transform: uppercase;
            color: #003399;
            text-align: center;
            margin-top:40px;
            margin-bottom:10px;
            
        }
        p {
            text-align: center;
            width:75%;
            margin: 20px auto;
        }
    }

    .elements {

        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: space-around;

        .element {

            padding: 20px;
            border: 1px solid #00339955;
            width: 48%;

            h3 {                
                font-size: 1.2em;
                font-weight: bold;
                line-height: 1.2em;
                display: inline-flex;
                align-items: center;
                margin-bottom:10px;

                i {margin-right:15px;}
            }
            p {
                text-align: justify;
            }
        }
    }

}