@import "./sass/base/variables";
@import "./sass/utils/mixins";


.page-nouvelles {
    section {
        padding-left:10px;
        padding-right:10px;

        @include mq('tablet') {
            padding-left:30px;
            padding-right:30px;
        }
    }

    .section-description {
        text-align:center;
        margin-bottom:50px;

        h2 {
            font-size: 1.8em;
            text-transform: uppercase;
            line-height: 1.1em;
            margin-bottom: 30px;
            margin-top:5px;
        }

        .subtitle {
            font-size: 1em;
            text-transform: uppercase;
            color:#003399
        }
    
        p {
            font-size: 1.3em;
            line-height: 1.2em;
            margin-bottom:15px;
        }

        b {
            font-weight: bold;
        }
    }
}

.sidebar {

    padding-right:40px;

    h3 {
        font-weight: bold;
        text-transform: uppercase;
        margin-top:10px;
        font-size:1.1em;
    }
    hr {
        width:30%;
        margin-top:5px;
    }

    h4 {
        font-weight: bold;
        color:#003399;
        text-transform: uppercase;
    }

    .bloc {
        margin: 30px 0px;
    }

    .search-form form {
        width:55%;
    }

    ul {
        margin-top:8px;
        margin-bottom:25px;

        li a {
            line-height:1.3em;
            color: #000;

            @include touch() {
                color:#003399;
            }
        }
    }
}


.content-with-sidebar {
    display:flex;
    flex-direction: column;

    @include mq('desktop') {
        flex-direction: row;
        .content {
            flex:0 0 70%;
        }
        .sidebar {
            flex:0 0 30%;
        }
    }

    @include mq('desktop', 'max') {
        .sidebar {
            text-align: center;

            hr {
                margin-left:35%;
            }
        }
    }
}