@import "./sass/base/variables";
@import "./sass/utils/mixins";

.dashboard-content {
    display: flex;

    .sidebar {
        width:20%;

        .admin-menu {
            h3 {font-weight:bold;}
            ul {
                list-style-type: disc;
                list-style-position: inside;
                margin-left: 5px;
                li {
                    margin-top:5px;
                }
            }
        }
    }

    .page-admin {
        width:80%;

        form {
            width:100%;
            
            input,
            textarea {
                padding:5px;
                width:100%;
                margin-bottom:10px;
                font-size: 1.2em;
                line-height: 1.3em;
            }
            textarea {
                height:500px;
            }
        }
    }

    .dashboard-col {
        display: flex;
    }



    .message-bloc {
        margin-bottom:40px;

        h2 {
            font-size: 1.8em;
            font-weight: bold;
            text-transform: uppercase;
        }

        h3 {
            font-size: 1.5em;
            font-weight: bold;
        }
    }
}