@import "./sass/base/variables";
@import "./sass/utils/mixins";





.details-nouvelle {
    .section-description {
        min-height: 300px;
        background-size:cover;
        background-position: center center;
        position:relative;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding:100px;
    }
    .section-description span,
    .section-description h1,
    .section-description p,
    .section-description a {
        position:relative;
        z-index:3;
    }

    .section-description h1 {
        margin-bottom:15px
    }

    .section-description:before {
        content:"";
        z-index:1;
        position:absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
        background-color: #FFFFFF;
        opacity:0.5;            
    }

    .article-content {
        p {
            margin-bottom:20px;
            font-size: 1.2em;
            font-weight: 100;
            line-height: 1.5em;
            letter-spacing: 0px;
        }
    }
}

.page-content .breadcrumb {
    font-size: 0.9em;
    color: #003399;

    i {font-size: 0.8em;}

    @include touch() {
        color: #000;
    }

}