.elementor-932 .elementor-element.elementor-element-121fe39b .elementor-button[type="submit"] {
    background-color: rgba(0, 51, 153, 0.45) !important;
}

.elementor-932 .elementor-element.elementor-element-5c171bc .elementor-social-icon {
    min-width: 40px;
    min-height:40px;
    background-color:transparent;
}


.elementor-932 .elementor-element.elementor-element-ca50f0a:not(.elementor-motion-effects-element-type-background), 
.elementor-932 .elementor-element.elementor-element-ca50f0a > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: rgba(0, 51, 153, 0.33);
}