@charset "UTF-8";
.products-and-services .hero {
  display: flex;
  padding: 0px 10px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.products-and-services .hero .page-header {
  margin-bottom: 0px;
  padding-top: 0px;
}
.products-and-services .hero img {
  width: 70vw;
}
@media only screen and (min-width: 1248px) {
  .products-and-services .hero {
    padding: 0px 40px;
    flex-direction: row;
  }
  .products-and-services .hero img {
    width: 40vw;
  }
}
.products-and-services .presentation {
  padding: 10px;
}
@media only screen and (min-width: 1248px) {
  .products-and-services .presentation {
    padding: 40px;
  }
}
.products-and-services .presentation .pitch {
  margin: 20px 0px;
}
.products-and-services .presentation .pitch .title {
  font-size: 1.4em;
  font-weight: bold;
  color: #003399;
}
.products-and-services .presentation .pitch h2 {
  font-size: 1.75em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}
.products-and-services .presentation .pitch p {
  font-weight: bold;
}
.products-and-services .presentation .details {
  display: flex;
  margin-top: 60px;
  flex-direction: column-reverse;
}
@media only screen and (min-width: 1248px) {
  .products-and-services .presentation .details {
    flex-direction: row;
  }
}
.products-and-services .presentation .details .sidebar {
  width: 50%;
  padding: 50px 10px 10px 0px;
}
@media only screen and (min-width: 1248px) {
  .products-and-services .presentation .details .sidebar {
    padding: 10px 10px 10px 0px;
  }
}
.products-and-services .presentation .details .sidebar h3 {
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bold;
}
.products-and-services .presentation .details .sidebar ul {
  padding-left: 20px;
  margin-top: 20px;
}
.products-and-services .presentation .details .sidebar ul li {
  margin-top: 10px;
  list-style-type: disc;
}
.products-and-services .presentation .details .sidebar ul li a {
  color: #000;
}
.products-and-services .presentation .details .sidebar ul li a:hover {
  font-weight: bold;
  color: #003399;
}
.products-and-services .presentation .details .sidebar ul li a:active {
  font-weight: bold;
  color: #003399;
}
.products-and-services .presentation .details .sidebar ul li.active a {
  font-weight: bold;
  color: #003399;
}
.products-and-services .presentation .details .description-detaillee p {
  margin-bottom: 20px;
  color: rgb(51, 51, 51);
}
.products-and-services .presentation .details .description-detaillee .contact {
  font-size: 2em;
  font-weight: bold;
  color: #000;
}
.products-and-services .separator-waves {
  overflow: hidden;
  position: relative;
}
.products-and-services .separator-waves svg {
  display: block;
  width: calc(100% + 1.3px);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.products-and-services .separator-waves .wave-top {
  transform: rotate(180deg);
}
.products-and-services .separator-waves .wave-top svg {
  width: calc(150% + 1.3px);
  height: 70px;
}
.products-and-services .separator-waves .wave-top .shape {
  transform-origin: center;
  transform: rotateY(0deg);
}
.products-and-services .separator-waves .wave-bottom {
  transform: rotate(180deg);
}
.products-and-services .separator-waves .wave-bottom svg {
  height: 100px;
}
.products-and-services .separator-waves .wave-bottom .shape {
  transform-origin: center;
  transform: rotateY(0deg);
}
.products-and-services .separator-waves .shape {
  fill: #003399;
}
.products-and-services .produits {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  padding: 10px;
  flex-direction: column;
}
@media only screen and (min-width: 1248px) {
  .products-and-services .produits {
    padding: 40px;
    flex-direction: row;
  }
}
.products-and-services .produits .card {
  text-align: center;
}
.products-and-services .produits .card img {
  width: 50%;
  height: auto;
}
.products-and-services .produits .card h3 {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 20px;
}
.products-and-services .produits .card ul {
  margin: 30px;
  margin-left: 35%;
  text-align: left;
}
.products-and-services .produits .card ul li {
  list-style-type: disc;
  margin-top: 5px;
}
.products-and-services .produits .card .btn-cta {
  display: inline-block;
  margin-top: 20px;
}
.products-and-services .produits .card.card-ecommerce ul {
  margin-left: 20%;
}
.products-and-services section.conseils .presentation {
  padding: 0px;
}
.products-and-services section.conseils .presentation h2 {
  font-size: 1.4em;
  text-transform: uppercase;
  color: #003399;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}
.products-and-services section.conseils .presentation p {
  text-align: center;
  margin: 20px auto;
}
@media only screen and (min-width: 768px) {
  .products-and-services section.conseils .presentation p {
    width: 75%;
  }
}
.products-and-services section.conseils .elements {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-around;
  margin-top: 40px;
}
.products-and-services section.conseils .elements .element {
  padding: 10px;
  border: 1px solid rgba(0, 51, 153, 0.3333333333);
}
@media only screen and (min-width: 768px) {
  .products-and-services section.conseils .elements .element {
    padding: 20px;
    width: 48%;
  }
}
.products-and-services section.conseils .elements .element h3 {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2em;
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
}
.products-and-services section.conseils .elements .element h3 i {
  margin-right: 15px;
}
.products-and-services section.conseils .elements .element p {
  text-align: justify;
}

.apicon {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-image: url("/medias/images/sprites/icones-performance-seo.png");
  background-size: 400px 400px; /* Taille totale de l'image sprite */
  background-size: 500% 500%; /* Taille totale de l'image sprite */
}

/* Exemple d'icônes spécifiques */
.apicon-1-1 {
  background-position: 0 0;
} /* 1ère icône (colonne 1, rangée 1) */
.apicon-1-2 {
  background-position: -100% 0;
} /* 2ème icône (colonne 2, rangée 1) */
.apicon-1-3 {
  background-position: -75% 0;
} /* 3ème icône (colonne 3, rangée 1) */
.apicon-1-4 {
  background-position: -50% 0;
} /* 4ème icône (colonne 4, rangée 1) */
.apicon-1-5 {
  background-position: -25% 0;
} /* 5ème icône (colonne 5, rangée 1) */
/* Rangée suivante (rangée 2) */
.apicon-2-1 {
  background-position: 0 -100%;
} /* 1ère icône (colonne 1, rangée 2) */
.apicon-2-2 {
  background-position: -100% -100%;
} /* 2ème icône (colonne 2, rangée 2) */
.apicon-2-3 {
  background-position: -75% -100%;
} /* 3ème icône (colonne 3, rangée 2) */
.apicon-2-4 {
  background-position: -50% -100%;
} /* 4ème icône (colonne 4, rangée 2) */
.apicon-2-5 {
  background-position: -25% -100%;
} /* 5ème icône (colonne 5, rangée 2) */
/* Rangée suivante (rangée 3) */
.apicon-3-1 {
  background-position: 0 -75%;
} /* 1ère icône (colonne 1, rangée 3) */
.apicon-3-2 {
  background-position: -100% -75%;
} /* 2ème icône (colonne 2, rangée 3) */
.apicon-3-3 {
  background-position: -75% -75%;
} /* 3ème icône (colonne 3, rangée 3) */
.apicon-3-4 {
  background-position: -50% -75%;
} /* 4ème icône (colonne 4, rangée 3) */
.apicon-3-5 {
  background-position: -25% -75%;
} /* 5ème icône (colonne 5, rangée 3) */
/* Rangée suivante (rangée 4) */
.apicon-4-1 {
  background-position: 0 -50%;
} /* 1ère icône (colonne 1, rangée 4) */
.apicon-4-2 {
  background-position: -100% -50%;
} /* 2ème icône (colonne 2, rangée 4) */
.apicon-4-3 {
  background-position: -75% -50%;
} /* 3ème icône (colonne 3, rangée 4) */
.apicon-4-4 {
  background-position: -50% -50%;
} /* 4ème icône (colonne 4, rangée 4) */
.apicon-4-5 {
  background-position: -25% -50%;
} /* 5ème icône (colonne 5, rangée 4) */
/* Rangée suivante (rangée 4) */
.apicon-5-1 {
  background-position: 0 -25%;
} /* 1ère icône (colonne 1, rangée 5) */
.apicon-5-2 {
  background-position: -100% -25%;
} /* 2ème icône (colonne 2, rangée 5) */
.apicon-5-3 {
  background-position: -75% -25%;
} /* 3ème icône (colonne 3, rangée 5) */
.apicon-5-4 {
  background-position: -50% -25%;
} /* 4ème icône (colonne 4, rangée 5) */
.apicon-5-5 {
  background-position: -25% -25%;
} /* 5ème icône (colonne 5, rangée 5) */